{% extends 'DiscussioneMainBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="twelvecol">
            {% for speech in discussion.discussions %}
                <div class="row">
                    <div class="threecol">
                        <span class="icon-comment-alt"></span>
                        {{ speech.data.author }}

                        <br>
                        <small>{{ speech.data.date }}</small>
                    </div>

                    <div class="ninecol last">
                        {% for keyphrase, frequency in speech.keyphrases %}
                            {{ keyphrase }}
                            {{ frequency }}
                        {% endfor %}
                    </div>
                </div>

                {#<div class="row">
                    <div class="threecol"></div>

                    <div class="ninecol last">
                        {{ speech.data.message }}
                    </div>
                </div>#}
            {% endfor %}
        </div>
    </section>
    <section class="row">
        <div class="twelvecol" id="bubble-chart"></div>
    </section>

    <section class="row">
        <div class="twelvecol" id="stream-graph"></div>
    </section>

    <section class="row">
        <div class="twelvecol" id="awards">
            {% set awards = {
                'mostWords':  'bullhorn',
                'leastWords': 'headphones',
            } %}

            {% for award, receiver in discussion.summary.awards %}
                <div class="fourcol award">
                    <i class="{{ 'icon-' ~ awards[award] }}" title="Eniten sanoja"></i>
                    <br>{{ receiver }}
                </div>
            {% endfor %}
        </div>
    </section>

    <script type="text/javascript">
        d3.json('{{ path('discussione_discussion_view', { 'id': discussion._id, '_format': 'json' }) }}', function(data) {
            visualizer('#bubble-chart', data);
            stream('#stream-graph', data);
        });

        $(document).ready(function() {
            $('path, i').tipsy({fade: true, live: true, gravity: 's'});
        });
    </script>

{% endblock %}