{% extends 'DiscussioneMainBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="twelvecol">
            {% for speech in discussion.discussion %}
                <div class="row">
                    <div class="threecol">
                        <span class="icon-comment-alt"></span>
                        {{ speech.data.author }}
                    </div>

                    <div class="ninecol last">
                        {% for keyphrase, frequency in speech.keyphrases %}
                            {{ keyphrase }}
                            {{ frequency }}
                        {% endfor %}
                    </div>
                </div>

                {#<div class="row">
                    <div class="threecol"></div>

                    <div class="ninecol last">
                        {{ speech.data.message }}
                    </div>
                </div>#}
            {% endfor %}
        </div>
    </section>

    <section class="row">
        <div class="twelvecol">
            <div id="bubble-chart"></div>
        </div>
    </section>

    <script type="text/javascript">
        visualizer(
            '#bubble-chart',
            '{{ path('discussione_discussion_view', { 'id': discussion._id, '_format': 'json' }) }}'
        );
    </script>
{% endblock %}