{% extends 'DiscussioneMainBundle::layout.html.twig' %}

{% block body %}
    <div class="discussion">

        {% for speech in discussion.discussion %}
            {{ speech.data.author }}
            {{ speech.data.message }}

            {#% for keyphrase, frequency in speech.keyphrases %}
                {{ keyphrase }}
                {{ frequency }}
            {% endfor %#}
        {% endfor %}

    </div>

    <div id="bubble-chart"></div>

    <script type="text/javascript">
        visualizer('{{ path('discussione_discussion_view', { 'id': discussion._id, '_format': 'json' }) }}');
    </script>
{% endblock %}